* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #181818;
    height: 80px;
    border-bottom: #B79595 1px solid;
}

ul {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 35px;
    padding-right: 50px;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: #FFD700;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #212121;
    height: 603px;
    position: relative;
}

.banner-content h1 {
    margin-left: 200px;
    position: absolute;
    top: 50px;
    left: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
    opacity: 0;
}

.banner-content img {
    margin-right: 200px;
    animation: slideInFromLeft 0.8s ease-out 0.6s forwards;
    opacity: 0;
}

.banner-content a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 225px;
    margin-top: 400px;
    padding: 7px 60px;
    background-color: #FFD700;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    font-weight: 400;
    border-radius: 10px;
    animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
    opacity: 0;
}

.banner-information {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #454545;
    height: 150px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 615px;
    margin-left: 220px;
    animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
    opacity: 0;
}

.banner-information h2 {
    color: #FF9100;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}

.banner-information p {
    color: #B4B4B4;
    font-size: 13px;
    text-align: center;
}

.banner-information .alunos {
    margin-left: 40px;
}

.banner-information .anos {
    margin-right: 40px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sobre {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    margin-left: 200px;
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.sobre h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    animation: slideInFromLeft 0.8s ease-out 0.2s forwards;
    opacity: 0;
}

.sobre h1 {
    font-size: 48px;
    padding-top: 15px;
    animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
    opacity: 0;
}

.sobre h3 {
    padding-top: 15px;
    font-size: 28px;
    color: #E65100;
    font-weight: 700;
    font-style: italic;
    animation: slideInFromLeft 0.8s ease-out 0.6s forwards;
    opacity: 0;
}

.sobre span {
    color: #E65100;
}

.sobre p {
    display: flex;
    flex-direction: column;
    margin-left: 730px;
    margin-top: -250px;
    margin-right: 200px;
    font-size: 16px;
    animation: slideInFromLeft 0.8s ease-out 0.8s forwards;
    opacity: 0;
}

.img-sobre {
    padding-top: 100px;
    width: 1500px;
    height: 100%;
    animation: slideInFromLeft 0.8s ease-out 0.8s forwards;
    opacity: 0;
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    h1 {
        text-align: center;
        font-size: 48px;
        animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
        opacity: 0;

        span {
            color: #E65100;
        }
    }

    h3 {
        text-align: center;
        margin-top: 20px;
        color: #E65100;
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        animation: slideInFromLeft 0.8s ease-out 0.6s forwards;
        opacity: 0;
    }

    .valores-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 55px;
        margin-left: 100px;
        margin-right: 100px;
        animation: slideInFromLeft 0.8s ease-out 0.8s forwards;
        opacity: 0;

        h2 {
            font-size: 48px;
            font-weight: 400;
        }

        p {
            margin-top: 10px;
            font-size: 15px;
        }

        .evolution-card,
        .education-card,
        .inovation-card,
        .superation-card,
        .community-card {
            border: 1px solid rgba(183, 149, 149, 0.5);
            border-radius: 15px;
            padding: 20px 20px;
            margin: 40px 40px;
            width: 520px;
        }

        .evolution-card:hover,
        .education-card:hover,
        .inovation-card:hover,
        .superation-card:hover,
        .community-card:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }
}

.instrutores {
    background-color: #212121;
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* Adicione isso */
    align-items: center;
    /* Centraliza o conteúdo */
    padding-bottom: 50px;
    /* Espaço na parte inferior */
}

.instrutores-title {

    h1 {
        font-size: 48px;
        text-align: center;
        margin-top: 10px;

        span {
            color: #E65100;
        }
    }

    h2 {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
    }
}

.instrutores-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin-top: 70px;
}

.instrutor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

.instrutor-card img {
    border-radius: 15px;
}

.instrutor-card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.instrutor-card p {
    font-size: 16px;
}