* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #181818;
    height: 80px;
    border-bottom: #B79595 1px solid;
}

ul {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 35px;
    padding-right: 50px;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: #FFD700;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #212121;
    height: 603px;
}

.banner-content h1 {
    margin-left: 200px;
    position: absolute;
    top: 130px;
    left: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;

}

.banner-content img {
    margin-right: 200px;
}

.banner-content a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 225px;
    margin-top: 400px;
    padding: 7px 60px;
    background-color: #FFD700;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    font-weight: 400;
    border-radius: 10px;
}

.banner-information {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #454545;
    height: 140px;
    width: 600px;
    border-radius: 10px;
}

.banner-information h2 {
    color: #E65100;
    font-size: 36px;
}

.banner-information p {
    color: #B4B4B4;
    font-size: 13px;
}

.banner-information .alunos {
    margin-left: 30px;
}

.banner-information .anos {
    margin-right: 30px;
}